{% extends 'base.html.twig' %}

{% block body %}
    <div class="error-wrapper text-center">
        <h2>{{ 'help.support.sent'|trans({}, 'messages') }}</h2>
        <h6>{{ 'help.support.wait_for_answer'|trans({}, 'messages') }}.</h6>
    </div>
{% endblock %}