{% extends "home/template.html.twig" %}

{% block title %}About{% endblock %}

{% block body %}
    <div id="intro" class="index-section" data-url-id="intro" data-collection-id="5c338ef24d7a9c49c167a8cf" data-edit-main-image="Banner">
        <div class="promoted-gallery-wrapper"></div>
        <div class="banner-thumbnail-wrapper has-description header-beginning" data-content-field="main-image">
            <div class="color-overlay"></div>
            <figure id="thumbnail" class="loading content-fill" style="overflow: hidden;">
                <img data-src="{{ asset('home/images/min/LaNayFerme-18Flip-2.jpg') }}"
                     data-image-dimensions="2500x1667" data-image-focal-point="0.5,0.5"
                     data-position-mode="standard"
                     data-parent-ratio="2.4"
                     alt="LaNayFerme-10.jpg"
                     src="{{ asset('home/images/min/LaNayFerme-18Flip-2.jpg') }}"
                     data-image-resolution="2500w">
            </figure>
            <div class="desc-wrapper" data-content-field="description">
                <p style="white-space: pre-wrap;"><strong data-shrink-original-size="86">Our Mission: Make big business of small farming.</strong></p>
            </div>
        </div>
        <div class="index-section-wrapper page-content">
            <div class="content-inner has-content" data-content-field="main-content">
                <div class="sqs-layout sqs-grid-12 columns-12" data-type="page" data-updated-on="1547111168630">
                    <div class="row sqs-row">
                        <div class="col sqs-col-12 span-12">
                            <div class="sqs-block html-block sqs-block-html" data-block-type="2">
                                <div class="sqs-block-content">
                                    <h4>Factory farming can eat it.</h4>
                                    <p>But we won’t.</p>
                                    <p>Big ag is a big mistake. Because the food they grow—and the way they grow it—is bad for you, bad for business, and bad for environment. Plus, it tastes bad. (That’s a lot of bads.)</p>
                                    <p>Only the small farm can save us.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br/>
                    <div class="row sqs-row">
                        <div class="col sqs-col-12 span-12">
                            <div class="sqs-block html-block sqs-block-html" data-block-type="2">
                                <div class="sqs-block-content">
                                    <h4>Like the home and church, the small farm is sacred.</h4>
                                    <p>It’s where life is born, nurtured, and made more delicious.</p>
                                    <p>The small farm keeps us connected to the food we eat, puts nutrient-rich produce on our plate, and grows the local economy.</p>
                                    <p>Plus, it may be the last place on earth where a tomato still tastes like a tomato.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br/>
                    <div class="row sqs-row">
                        <div class="col sqs-col-12 span-12">
                            <div class="sqs-block html-block sqs-block-html" data-block-type="2">
                                <div class="sqs-block-content">
                                    <h4>Small farming is tens of thousands of farms big.</h4>
                                    <p>But sometimes we’re just too busy being small.</p>
                                    <p>Together we can leverage our size, influence policy, and forge new alliances with powerful partners.</p>
                                    <p>Small farming can be big business—while staying true to our small farm practices.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br/>
                    <div class="row sqs-row">
                        <div class="col sqs-col-12 span-12">
                            <div class="sqs-block html-block sqs-block-html" data-block-type="2">
                                <div class="sqs-block-content">
                                    <h4>Black Dirt is helping small farms go toe-to-steel-reinforced-toe with big ag.</h4>
                                    <p>We’re arming small farms, CSAs, and growers with the tools and technology that, previously, were too costly or out of reach.</p>
                                    <p>We’re breaking old rules and new ground, showing them how to grow—not just food—but business.</p>
                                    <p>We’re uniting independent farms around the world to create a coalition that’s as big as its farms are small.</p>
                                    <p>We’re showing farms how to plant new ideas and harvest new customers.</p>
                                    <p>We’re helping the small farm reclaim its place at the top of the food chain.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="team" class="index-section" data-url-id="team" data-edit-main-image="Banner">
        <div class="promoted-gallery-wrapper"></div>

        <div class="banner-thumbnail-wrapper has-description" data-content-field="main-image">
            <div class="color-overlay"></div>
            <figure id="thumbnail" class="loading content-fill" style="overflow: hidden;">
                <img data-src="{{ asset('home/images/min/JocelynHorne-4.jpg') }}"
                     data-image-dimensions="2500x1667" data-image-focal-point="0.5,0.5"
                     data-position-mode="standard" data-parent-ratio="2.8" alt="JocelynHorne-4.jpg"
                     src="{{ asset('home/images/min/JocelynHorne-4.jpg') }}" data-image-resolution="2500w">
            </figure>
            <div class="desc-wrapper" data-content-field="description">
                <p style="white-space: pre-wrap;">
                    <strong data-shrink-original-size="86">FROM BLACK DIRT SOFTWARE</strong>
                </p>
                <p data-rte-preserve-empty="true" style="white-space: pre-wrap;"></p>
            </div>
        </div>

        <div class="index-section-wrapper page-content">
            <div class="content-inner has-content" data-content-field="main-content">
                <div class="sqs-layout sqs-grid-12 columns-12" data-type="page" data-updated-on="1546925666228">
                    <div class="row sqs-row">
                        <div class="col sqs-col-12 span-12">
                            <div class="row sqs-row">
                                <div class="col sqs-col-2 span-2">
                                    <div class="sqs-block spacer-block sqs-block-spacer sized vsize-1" data-block-type="21">
                                        <div class="sqs-block-content">&nbsp;</div>
                                    </div>
                                </div>
                                <div class="col sqs-col-8 span-8">
                                    <div class="sqs-block html-block sqs-block-html" data-block-type="2">
                                        <div class="sqs-block-content">
                                            <blockquote>
                                                <p style="text-align: center; white-space: pre-wrap;">“What we really want is for everyone, everywhere to depend on the local, small farm as their primary source for food. We developed Black Dirt Software to help farms connect with and better serve their neighbors. When this happens, the farm is successful, everyone eats better, and we all live better.”</p>
                                                <p style="text-align: center; white-space: pre-wrap;"><strong>— Black Dirt Software</strong>&nbsp;</p>
                                            </blockquote>
                                        </div>
                                    </div>
                                </div>
                                <div class="col sqs-col-2 span-2">
                                    <div class="sqs-block spacer-block sqs-block-spacer sized vsize-1" data-block-type="21">
                                        <div class="sqs-block-content">&nbsp;</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}