###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/var/
/vendor/
tests/_output/*
###< symfony/framework-bundle ###
###> liip/imagine-bundle ###
/public/media/cache/
/public/uploads/
/public/bundles/
###< liip/imagine-bundle ###

###> env/files ###
/build/
.idea
.git
error_log
.DS_Store
.idea/
###< env/files ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
codeception.yml
c3.php
bin/.phpunit/
phpunit.xml.dist
###< phpunit/phpunit ###
