<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
</head>
<body>
<div>
    <h4>Welcome to Black Dirt Software</h4>

    <p>Thanks for creating an account. Black Dirt Software helps farmers make big business of small farming.
        And we’re excited to help you. So let’s jump in and get our hands dirty.</p>

    <p>SETUP</p>
    <p>Planting your farm in Black Dirt is simple.</p>
    <ul>
        <li style="margin-left:0;">First, go to <a href="{{ plantsPath }}" target="_blank">SETUP>Plants</a> and tell us what you grow.</li>
        <li style="margin-left:0;">Then, go to <a href="{{ gardensPath }}" target="_blank">SETUP>Gardens</a> and tell us how your farm’s set up.</li>
        <li style="margin-left:0;">Finally, go to <a href="{{ cropsPath }}" target="_blank">MANAGE CROPS>Plants In Garden</a> to tell us which plants are in which gardens.</li>
    </ul>
    <p>* Or, if you want a more detailed explanation on how to get set up, watch our video tutorial <a href="https://www.youtube.com/watch?v=vf0UUkTho9E" target="_blank">here.</a></p>

    <p>LET’S CONNECT</p>
    <p>Finally, we hope you’ll follow us on <a href="https://www.facebook.com/blackdirtsoftware/">Facebook</a>,
        <a href="https://www.instagram.com/blackdirttechnology/"> Instagram</a>
        and <a href="https://www.youtube.com/channel/UCSLnfmRao-nLHKC1PAtY3jw">YouTube</a>.
    </p>
    <p>Thank you,<br/>
        The Black Dirt Team</p>

    {% if confirmationLink is not null %}
        <p>ps. If you have not confirmed your site yet, you can do so at <a href="{{ confirmationLink }}" target="_blank">[this link].</a></p>
    {% endif %}
</div>
</body>
</html>

