{% extends 'base.html.twig' %}

{% block body %}
    {{ include ("customer/product/form.html.twig") }}

    <div class="panel panel-default">
        {{ include ("customer/product/table.html.twig") }}
    </div>
{% endblock %}