{% extends 'emails/base.html.twig' %}

{% block body %}
    <h4>You need to add merchant key into BDS</h4>
    <p>Hello: {{ client }}</p>
    <p>Merchant key needs to be entered in order for Customers to pay with Credit card.</p>
{% endblock %}