{% extends "front-layout.html.twig" %}

{% block title 'Access was sent' %}

{% block body %}
    <div class="error-wrapper content-center">
        <h6>{{ 'membership.access_sent'|trans({}, 'labels') }}</h6>
    </div>
{% endblock %}