{% extends "front-layout.html.twig" %}

{% block body %}
    <!-- Basic setup -->
    <div class="panel">
        <div class="panel-heading theme-style">
            <h6 class="panel-title">Warning!</h6>
        </div>
        <div class="panel-body">
           {{ message }}
        </div>
    </div>
    <!-- /basic setup -->
    <!-- /page header -->
{% endblock body %}