{% extends "front-layout.html.twig" %}

{% block body %}
    <div class="error-wrapper text-center message-content">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-default" style="padding:40px;">
                    <p>{{ 'register.email_confirmed'|trans({'%username%': user.username}, 'messages') }}</p>
                    <p>
                        <a href="{{ path('app_login') }}">{{ 'register.now_can_login'|trans({}, 'messages') }}</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
