<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
</head>
<body>
    {% block body %} {% endblock body %}

    <br/>
    <p>{{ 'emails.regards'|trans({}, 'labels') }},</p>
    <p>{{ software_name }}</p>
</body>
</html>