{% extends 'emails/base.html.twig' %}

{% block body %}
    <h4>New building</h4>
    <p>Client name: {{ user.building.name }}</p>
    <p>Username: {{ user.username }}</p>
    <p>Email: {{ user.email }}</p>
{% endblock %}