<h4>{Firstname} {Lastname}</h4>

<h4>
    {{ 'emails.activation.your_membership_with'|trans({}, 'labels') }} {ClientName} {{ 'emails.activation.membership_activated'|trans({}, 'labels') }}
</h4>

<p>{{ 'emails.delivery_day.profile_link'|trans({}, 'labels') }}: {ProfileLink}</p>