<h1>{Firstname} {Lastname} {{ 'emails.delivery_day.your_delivery_day'|trans({}, 'labels') }} {DeliveryDay}.</h1>

<h2>{{ 'emails.delivery_day.title'|trans({}, 'labels') }}.</h2>

<p>{{ 'emails.delivery_day.profile_link'|trans({}, 'labels') }}: {ProfileLink}</p>