<h4>{Firstname} {Lastname} {{ 'emails.renewal.your_renewal_date'|trans({}, 'labels') }}&nbsp;{ShareRenewal}</h4>

<h4>{{ 'emails.renewal.title'|trans({}, 'labels') }}</h4>

<p>{{ 'emails.renewal.renew_link'|trans({}, 'labels') }}: {RenewLink}</p>