{% extends 'base.html.twig' %}

{% block body %}
    <div class="panel panel-default">
        <div class="panel-head">
            <h6><i class="icon-user-plus"></i> {{ 'owner.add.lead'|trans({}, 'labels') }}</h6>
        </div>
        <div class="panel-body">
            {{ include ("owner/forms/owner.html.twig") }}
        </div>
    </div>
{% endblock body %}