.post-content img {
    width: 100%;
    display: block;
    border: 0;
    line-height: 0;
    text-align: center;
}

.blog-list article {
    margin-bottom: 100px;
}

article h2 a {
    color: #73024e;
}

h4 {
    font-family: futura-pt;
    color: #ae7337;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    letter-spacing: 1px;
    text-transform: none;
    text-rendering: optimizeLegibility;
    line-height: 1.3em;
}

#wrapper {
    background-color: white;
}

#page {
    background-color: white;
}

.theme-style, .btn-action, .btn-style, .modal-header, .popup-header, .checkbox-info .checker:active span,
.checkbox-info .checker.active span, .checkbox-info .checker span.checked, .bootstrap-select.btn-group .dropdown-menu > .selected > a,
.heading-style, .pagination>.active > span, .pagination>.active > a  {
    background-color: #144072 !important;
    border-color: #144072 !important;
    color: #fff !important;
}

@media (max-width: 700px) {
    .sqs-gallery-block-grid.sqs-gallery-block-meta-only-title .margin-wrapper .image-slide-title {
        font-size: 12px;
    }

}

#content-loader {
    position: fixed; /* Sit on top of the page content */
    display: block; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff; /* Black background with opacity */
    z-index: 9999; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

.sqs-block-summary-v2 .img-wrapper img {
    opacity: 1 !important;
}