<p>We noticed you created an account, but didn’t finish one, or all 3, of the steps for setting up your farm:<br />
    {SetupPlantsLink}<br />
    {SetupGardensLink}<br />
    {SetupCropsLink}</p>

<p>Here is a <a href="https://youtu.be/vf0UUkTho9E" target="_blank">video</a> tutorial that will help you finish your setup.</p>

<p>Once you’re done, your dashboard will be functional, and our software will start helping you manage your crops.</p>

<p>Click on the video link above and plant your farm in {{ software_name }}.</p>

<p> - The {{ software_name }} Team</p>