<p>You created a {{ software_name }} account but failed to confirm your email address.</p>

<p>If you accidentally missed the confirmation email, you can click this [ {ConfirmationLink} ] to complete the process.</p>

<p>Once you’ve confirmed your email address, use this <a href="https://youtu.be/vf0UUkTho9E" target="_blank">video</a> tutorial to get set up.</p>

<p>Thanks for planting your farm in {{ software_name }}!</p>

<p> - The {{ software_name }} Team</p>