<div><span style="font-size:16px">Thanks for creating an account.</span></div>

<p><span style="font-size:16px">Black Dirt Software helps farmers make big business of small farming. And we’re excited to help you. So let’s jump in and get our hands dirty.</span></p>

<p><span style="font-size:16px">If you have not confirmed your site yet, you can do so at {ConfirmationLink}</span></p>

<p><span style="font-size:16px">SETUP<br />
Planting your farm in Black Dirt is simple.</span></p>

<ul>
    <li><span style="font-size:16px">First, go to </span> {SetupPlantsLink} <span style="font-size:16px">and tell us what you grow.</span></li>
    <li><span style="font-size:16px">Then, go to </span> {SetupGardensLink} <span style="font-size:16px">and tell us how your farm’s set up.</span></li>
    <li><span style="font-size:16px">Finally, go to </span> {SetupCropsLink}<span style="font-size:16px"> to tell us which plants are in which gardens.</span></li>
</ul>

<p><span style="font-size:16px">* Or, if you want a more detailed explanation on how to get set up, watch our video tutorial: <a href="https://www.youtube.com/watch?v=vf0UUkTho9E">here</a>.</span></p>

<p><span style="font-size:16px">LET’S CONNECT<br />
Finally, we hope you’ll follow us on <a href="https://www.facebook.com/blackdirtsoftware/">Facebook</a>, <a href="https://www.instagram.com/blackdirttechnology/">Instagram</a> and <a href="https://www.youtube.com/channel/UCSLnfmRao-nLHKC1PAtY3jw">Youtube</a>.</span></p>

<p><span style="font-size:16px">Thank you,</span></p>

<p><span style="font-size:16px"> - The Black Dirt Team</span></p>