<h4>{Firstname} {Lastname}</h4>

<h4>{{ 'emails.weekly.title'|trans({}, 'labels') }}</h4>

<p>{{ 'emails.delivery_day.profile_link'|trans({}, 'labels') }}: {ProfileLink}</p>
<p>{{ 'emails.weekly.skip_week'|trans({}, 'labels') }}: {SkipWeek}</p>
<p>{{ 'emails.weekly.customize_share'|trans({}, 'labels') }}: {CustomizeShare}</p>